/* Variables */
:root {
  --light-bg-color: #E5E7EB;
  --dark-bg-color: #1F2937;
  --accent-color: #3882F6;
  --light-text-color: #F9FAF8;
  --gray-text-color: #E5E7EB;
  --std-padding: 50px;
  --std-margin: 50px;
}

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  margin: 0 auto;
}

/* Header */

header {
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 24px;
  color: #F9FAF8;
  background-color: #1F2937;
  font-weight: bolder;
  padding: 20px 100px;
}

nav ul {
  display: flex;
  gap: 10px;
  list-style: none;
  font-size: 18px;
  color: #E5E7EB;
}

nav ul a {
  text-decoration: none;
  color: #E5E7EB;
}

/* Main */

#information-header {
  font-size: 36px;
  font-weight: bolder;
  color: #1F2937;
}

.main {
  display: flex;
  justify-content: space-between;
  background-color: #1F2937;
  padding: 50px 100px;
  gap: 50px
}

.main p {
  font-size: 18px;
  color: #E5E7EB;
}

h1 {
  font-size: 48px;
  font-weight: bolder;
  color: #F9FAF8;
}

.hero {
  display: flex;
  flex-direction: column;
  max-width: 50%;
}

#main-image {
  max-width: 100%;
  border: 5px solid var(--accent-color);
  border-radius: 5px;
}

/* Section Images */

section.images {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;
}

#gallery {
  margin-top: 50px;
  display: flex;
  gap: 50px;
  text-align: center;
}

.block-image {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  max-width: 200px;
  gap: 10px;
}

.block-image img {
  flex: 1 0 auto;
  max-width: 100%;
  border: 5px solid var(--accent-color);
  border-radius: 5px;
}

.block-image p {
  flex: 1 1 auto;
  font-size: 18px;
}

/* Quote */
section.quotes {
  display: flex;
  flex-direction: column;
  background-color: #E5E7EB;
  padding: 100px 100px;
  flex-wrap: wrap;
}

p.quote {
  font-size: 36px;
  font-style: italic;
  font-weight: lighter;
  color: #1F2937;
  padding: 0px 100px;
  align-self: flex-start;
}

p.author {
  font-size: 24px;
  font-weight: bolder;
  color: #1F2937;
  align-self: flex-end;
  padding: 10px 150px;
}

/* Call to Action */

.cta {
  display: flex;
  justify-content: center;
  margin: 50px;
}

.cta-banner {
  display: flex;
  justify-content: space-around;
  background-color: #3882F6;
  padding: 50px 100px;
  border-radius: 15px;
  border: 2px solid #F9FAF8;
  width: 65%;
}

div.cta-text {
  display: flex;
  flex-direction: column;
  color: #E5E7EB;
}

div.cta-text p {
  font-size: 18px;
}

div.cta-text h2 {
  font-size: 24px;
}

/* Footer */

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  color: #E5E7EB;
  background-color: #1F2937;
  padding: 30px;
}

/* Miscalaneous */

button {
  background-color: #3882F6;
  color: #F9FAF8;
  border-radius: 5px;
  padding: 5px 20px;
  max-width: 25%;
  min-height: 35px;
  margin-top: 10px;
}
